@model CTWMasterClass_WebAppActivities.Models.Barrel

<body style="background-color: #1b212c;">
    <div class="container">
        <div class="row">
            <div class=" col-sm-4">
                <img src="~/Content/TriStar Logo.jpg" width="118px;" height="89px" ; />
            </div>
            <div class="navText">
                <div class="col-sm-2" align="right">
                    <br />
                    <a href="https://localhost:44343/Barrel/HomePage">Home</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="https://localhost:44343/Barrel/Index">List</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="https://localhost:44343/Barrel/Create">Create</a>
                </div>
            </div>
        </div>


    </div>




    <div class="row">
        <div class="col-sm-12">
            <h4 class="minorHeading">Are you sure you want to delete this barrel?</h4>
        </div>
    </div>
    <div>

        <hr />
        <div class="row">
            <div align="center" class="generalText">
                <p>Date created: @Html.DisplayFor(model => model.DateCreated)</p>
                <p>Contents: @Html.DisplayFor(model => model.Contents)</p>
                <p>Current Location: @Html.DisplayFor(model => model.CurrentLocation)</p>
                <p>Construction Material: @Html.DisplayFor(model => model.ConstructionMaterial)</p>
                <p>Radius: @Html.DisplayFor(model => model.Radius)</p>
                <p>Height: @Html.DisplayFor(model => model.Height)</p>
                <p>Weight: @Html.DisplayFor(model => model.Weight)</p>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="minorHeading">This deletion will be permanent</div>
            </div>
        </div>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="row">
                    <button type="submit" class="buttonFormattingRed col-sm-3">Yes, delete!</button>
                </div>
                <br />
                <div class="row">
                    <button type="button" class="buttonFormattingGrey col-sm-3">@Html.ActionLink("No thanks", "Index")</button>
                </div>
            </div>

        }



    </div>
</body>